.home{
    background-image:linear-gradient(rgb(236, 236, 232), rgb(201, 194, 98));
    width:100%;
}
.header-container{
    display: flex;
    flex-wrap: wrap;
   
}
.header-item-left{
    flex-basis: 30%;

}
.header-item-right{
    flex-basis: 70%;

}
.logo img{
    width: 30%;
    height:30%;     
}
.crast img{
    height:80%;
    width:100%;
}
.header-text-top{
    text-align: left;
    font-weight: bold;

}
.header-text-body{
    font-weight:600;
    text-align:left
}
.Header-text-bottom{
    text-align: left;
    font-weight: 600;
}

.group{
    width:100%;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(126, 21, 21);
    height:100px;
    color:aliceblue;
    height: auto;
    justify-content:center;
    width:100%;
    padding:10px
}
.footer-item{
    flex-basis: 30%;  
    margin-left: 3%;
} 
.footer a{
    text-decoration:none;
    color:aliceblue;
}
.footer a:hover{
     
    color:aliceblue;
}

.nav-container {
border-top: 1px solid rgb(126, 21, 21);
width: 100%;
height:auto

}
.nav-header{
    text-align: center;
    font-weight: bold;
}
.body{
    width: 99%;
}
.nav-body{
    text-align: center;
    font-weight: 600;
    width: 100%;
    height:auto;
    /* display: flex;
    flex-wrap: wrap; */
    
}
.nav-body p{
    width:100%  
} 
 .nav-body span{
    border-left: 2px solid rgb(126, 21, 21);
    padding: 2px 2px;  
} 
 
.body-text{
    font-weight: 600; 
    text-align:left;
}
.body-text-bottom{
    font-weight: 600;
}

/* respensive */
@media (max-width:800px){
    .footer-item{
        flex-basis: 100%;  
    } 
    .header-item-left{
        flex-basis: 100%;
    
    }
    .header-item-right{
        flex-basis: 100%;
    
    }
    
}